:root {
    --main-color: #9D5CD0;
    --hoverone-color: #C283F3;
    --active-color: #7943A4;
}




/* open-sans-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-300.woff') format('woff'); /* Modern Browsers */
}
  /* open-sans-regular - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
  /* open-sans-800 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v18-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-800.woff') format('woff'); /* Modern Browsers */
}

* {
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans';
    font-size: 18px;
    color: white;
    font-weight: 400;
    scroll-behavior: smooth;
    
}
img {
    max-width: 100%;
}
h2 {
    font-weight: 400;
}

h1,
h2,
h3,
p,
a,
button {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
a:hover {
    color: var(--hoverone-color);
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1630px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
input {
    outline: none;
}
.btn {
    height: 70px;
    width: 315px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}


/* header style */



.header {
    width: 100%;
    color: white;
}
.header__top-nav {
    background-color: #000000;
}
.header__bottom-nav {
    background-color: rgba(0, 0, 0, .4);
}

.header__nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px 28px 15px;
}
.header__nav {
    margin-right: 106px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item:not(:last-child) {
    margin-right: 66px;
}

.header__nav-anchor:active {
    color: var(--active-color);
}
.header__nav-anchor {
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
.header__nav-anchor:hover {
    color: var(--hoverone-color);
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
.header__enter{
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
.header__enter svg path {

    transition: fill .5s cubic-bezier(.45,.02,.53,.99);
}
.header__enter:hover {
    color: var(--hoverone-color);
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}
.header__enter:hover svg path {
    fill: var(--hoverone-color);
    transition: fill .5s cubic-bezier(.45,.02,.53,.99);
}


.container__bottom-menu {
    display: flex;
    padding: 1px 15px 0 15px;
    justify-content: space-between;
    
}
.menu__link {
    width: 1630px;
    padding: 25px 0 25px 0;
    display: flex;
    align-items: center;
}
.menu__dropdown {
    position: relative;
    display: inline-block;
}
.menu__dropdown:not(:last-child) {
    margin-right: 99px;
}
.menu__item {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    outline: var(--active-color);
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
    
}

.menu__item:active {
    color: var(--active-color);
}

.menu__item::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-left: 4px;
    margin-bottom: 5px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
    transition: border-left .1s ease;
    transition: border-bottom .1s ease;
}
.menu__item:hover:after {
    border-left: 1px solid var(--active-color);
    border-bottom: 1px solid var(--active-color);
    transition: border-left .1s ease;
    transition: border-bottom .1s ease;
}

.menu__item:hover {
    color: var(--active-color);
    transition: color .5s cubic-bezier(.45,.02,.53,.99);
}

.menu__item:active:after {
    margin-bottom: 0;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}
.menu__item:active {
    color: var(--main-color);
}

.menu__dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 40px 40px 0 40px;
    background-color: rgba(0, 0, 0, .4);
    margin-top: 25px;
    
}
.menu__dropdown-item {
    display: block;
    width: 220px;
    height: 40px;
    padding: 12px 0 12px 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600; 

}
.menu__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
}
.item-1 {
    background: url('../images/menubg-1.png') center/cover no-repeat;
}
.item-2 {
    background: url('../images/menubg-2.png') center/cover no-repeat;
}
.item-3 {
    background: url('../images/menubg-3.png') center/cover no-repeat;
}
.item-4 {
    background: url('../images/menubg-4.png') center/cover no-repeat;
}
.menu__dropdown-item:hover {
    padding: 10px 0 12px 12px;
    border: 2px solid var(--main-color);
}
.menu__dropdown-item:active {
    border: 2px solid var(--main-color);
    border: 2px solid #D1A9F0;
    box-shadow: inset 220px 20px rgba(194, 131, 243, 0.4);
}

.show {
    display: block;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: var(--active-color);
    border-radius: 7px;
    left: 0;
    right: 0;
    /* height: 22px; */
}
.simplebar-scrollbar.simplebar-visible:before{
    opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    top: 0;
    bottom: 0;
}
.simplebar-track {
z-index: 1;
position: absolute;
right: 19px;
bottom: 0;
pointer-events: none;
overflow: hidden;
background-color: #000000;
width: 2px;
height: 220px;
margin-top: auto;
margin-bottom: auto;
}
.simplebar-visible {
    height: 300px;
}
.simplebar-track.simplebar-vertical {
    width: 2px;
}
.nav__bottom-search {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    padding: 4px 0 1px 0;

}
.search-btn {
    margin-right: 8px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search-input {
    color: white;
    width: 221px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    
}
.search-input::placeholder {
    color: #FFFFFF;
    font-size: 18px;
}

.nav__bottom-search:hover input {
    border-bottom: 1px solid var(--hoverone-color);
}
.nav__bottom-search:hover svg rect,
.nav__bottom-search:hover svg path {
    fill: var(--hoverone-color);
}
.nav__bottom-search:focus input {
    border-bottom: 1px solid #ffffff;
}
.nav__bottom-search:active svg rect,
.nav__bottom-search:active svg path {
    fill: var(--hoverone-color);
}



/* hero style */

.swiper-container.hero__swiper-background {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
}

.hero__container {
    padding-top: 69px;
    padding-bottom: 121px;
}

.hero__slide-background {
    position: relative;
    height: 800px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg1 {
    
    background-image: url(../images/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
}

.bg2 {
   
    background-image: url(../images/birmingham-museums-trust-MK_98NuC4-4-unsplash1.png);
}

.bg3 {
    
    background-image: url(../images/birmingham-museums-trust-MK_98NuC4-4-unsplash-3.png);
}




.hero__header {
    width: 36%;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 21px;
}
.hero__description {
    font-weight: 700;
    width: 35%;
    line-height: 30px;
    margin-bottom: 90px;
}
.hero__btn {
    background-color: var(--main-color);
    font-weight: 700;
    border: 3px solid var(--main-color);
    transition: border .5s cubic-bezier(.45,.02,.53,.99);
}
.hero__btn:hover {
    border: 3px solid #D1A9F0;
    background-color: var(--main-color);
    transition: border .5s cubic-bezier(.45,.02,.53,.99);

}
.hero__btn:active {
    border: 3px solid #D1A9F0;
    background-color: var(--active-color);
}

/* US */

.us {
    color: black;
}

.us__container {
    padding-top: 86px;
    padding-bottom: 71px;
}
.us__header {
    font-size: 48px;
    margin-bottom: 22px;
}
.us__description {
    font-size: 16px;
    line-height: 32.5px;
    width: 67.7%;
}


/* gallery */

.gallery {
    background: url('../images/birmingham-museums-trust-MK_98NuC4-4-unsplash3.png') center/cover no-repeat;
    width: 100%;
    padding-top: 85px;
}
.gallery__container {
    display: flex;
    padding-bottom: 76px ;
}
.gallery__header {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 26%;
    margin-right: 52px;
}
.gallery__choices {
    display: flex;
    flex-direction: column;
}

.gallery__head {
    font-size: 48px;
    margin-bottom: 28px;
}
.select-gallery-label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 19px;
}


.choices__inner {
    width: 400px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    padding: 0;
    min-height: 40px;
    
}
.choices__list--single {
    color: white;
    padding: 8px 15px 8px 15px;
    font-size: 16;
    font-weight: 400;
}
.choices__list--single .choices__item {
    font-size: 16px;
    font-weight: 400;
}
.choices[data-type*=select-one] .choices__inner {
    padding: 0;
}
.is-open .choices__inner {
    border-radius: 6px;
}
.choices__list--dropdown {
    background-color: transparent;
    border: 1px solid #999999;
    top: 100%;
    /* margin-top: -1px; */
    /* border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px; */
    border-radius: 6px;
}
.choices__placeholder {
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
}

.choices__list--dropdown .choices__item {
    font-size: 18px;
    opacity: .5;
    border-bottom: .5px solid #f2f2f2;
    border-top: .5px solid #f2f2f2;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}


.gallery__infoDescription {
    font-weight: 600;
    line-height: 32px;
    font-size: 16px;
}
.gallery__infoDescription a{
    color: var(--hoverone-color);
}
.gallery__select {
    margin-top: 20px;
    color: #FFFFFF;
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}
.gallery__rowItem {
    display: flex;
    justify-content: space-between;
}
.gallery__rowItem:not(:last-child) {
    margin-bottom: 46px;
}
.gallery__item:not(:nth-child(3n+3)) {
    margin-right: 50px;
}




.swiper-btns{
    display: flex;
    flex-flow: row wrap;
    width: 134px;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 33px;
}

.swiper-button-prev,
.swiper-button-next{
    position: static;
    top: 0%;
    left: 30px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background-color: #666666;
    background: url('../images/next.svg') center no-repeat;
    transition: background .5s cubic-bezier(.45,.02,.53,.99);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

.swiper-button-prev {
    transform: rotate(-180deg);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: url('../images/prev-hover.svg') center no-repeat;
    background-size: 30px;
    transition: background .5s cubic-bezier(.45,.02,.53,.99);
}
.swiper-button-prev:active,
.swiper-button-next:active {
    background: url('../images/prev-active.svg') center no-repeat;
    background-size: 30px;
    
}

.swiper-pagination{
    top: 25px;
    left: 50px;
    text-align: left;
    color: white;
}




/* CATALOG */

.catalog {
    padding-top: 85px;
    color: black;
}

.catalog a{
    color: var(--active-color);
}
.heading__block {
    display: flex;
    margin-bottom: 16px;
}
.heading {
    font-size: 48px;
    margin-right: 39px;
}
.heading__country {
    min-width: 431px;
    min-height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.country-btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.country-btn img  {
    border-radius: 50%;
    transition: box-shadow .5s cubic-bezier(.45,.02,.53,.99);
}
.country-btn:hover img {
    box-shadow: 0 0 15px var(--hoverone-color);
    transition: box-shadow .5s cubic-bezier(.45,.02,.53,.99);
}
.country-btn:active img {
    border: 2px solid var(--active-color);
}



.catalog__header-description {
    width: 69%;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 40px;
}
.catalog__accordion-block {
    display: flex;
}
.catalog__item-select {
min-width: 750px;
margin-right: 50px;
}
.catalog__description {
    display: none;
}
.catalog__item-name {
    font-size: 23px;
    margin-top: 32px;
}
.catalog__item-description {
    margin-top: 1px;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
}
.catalog__item-description span {
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.catalog__description-active {
    display: block;
}

.catalog__accordion {
    min-width: 800px;
}
.accordion__item {
    width: 100%;
    background-color: white;
}
.ui-accordion .ui-accordion-header,
.accordion__item {
    padding: 36px 0 43px 0;
}


.ui-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
}


.ui-state-active .ui-icon {
    background-image: url('../images/_.png');
    transform: rotateX(180deg);
    transition:  .5s cubic-bezier(.45,.02,.53,.99);
}
.ui-state-active:hover .ui-icon {
    background-image: url('../images/+hover.png');
    
    transition:  .5s cubic-bezier(.45,.02,.53,.99);
}

.ui-state-default .ui-icon {
    background-image: url('../images/+.png');
    transition:  1s cubic-bezier(.45,.02,.53,.99);
}
.ui-state-default:hover .ui-icon {
    background-image: url('../images/+hover.png');
    
    transition:  1s cubic-bezier(.45,.02,.53,.99);
}
.ui-icon-plus {
    background-image: url('../images/+.png');
    background-position: 0 0 ;
}
.ui-icon-minus {
    background-image: url('../images/_.png');
    background-position: 0 0;
}

.ui-state-active,
.ui-state-default,
.ui-widget-content {
    border: none
}
.ui-corner-all,
.ui-corner-all {
    border-radius: 0;
}

.ui-state-default {
    border-bottom: 1px solid #CACACA;
}
.ui-state-default:nth-child(1) {
    border-top: 1px solid #CACACA;
}
.ui-state-active { 
    border-bottom: 1px solid #CACACA;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}
.ui-accordion .ui-accordion-content {
    padding-top: 25px;
    padding-bottom: 30px;
}
.ui-widget-content {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.ui-corner-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.accordion__item a {
    color: black !important;
}

.accordion__description {
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
}
.accordion__description-block {
    display: flex;
}
.accordion__description-block p  {
    max-width: 30%;
    margin-right: 80px;
}
.item_linkName {
    font-size: 24px;
}

/* EVENT */

.event {
    padding-top: 90px;
    padding-bottom: 79px;
    color: black;
}
.event__heading {
    font-size: 48px;
    margin-bottom: 19px;
}
.event__item-row {
    display: flex;
    justify-content: space-between;
}
.event__item {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    border: 1px solid #CACACA;
}
.event__image {
}
.test {
    position: relative;
    height: 100%;
    padding: 17px 35px 0 50px;
}
.event__name {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 8px;
}
.event__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.event__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.event__link {
    color: var(--main-color);
    bottom: 43px;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--main-color);
}


.event__btn--block {
    display: flex;
    justify-content: center;
}
.event__btn {
    width: 190px;
    height: 60px;
    font-size: 18px;
    color: var(--main-color);
    margin: 50px auto 0 auto;
}
.event__item-row-all {
    display: none;
    
}
.event__item-row-all.is-active {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    z-index: 10;
}





/* PUBLICATION */

.publication {
    display: flex;
    width: 100%;
    background: url('../images/birmingham-museums-trust-MK_98NuC4-4-unsplash4.png') center/cover no-repeat;
}
.publication__container {
    display: flex;
}
.publication__heading {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 30px;
} 
.publication__firstCol {
margin-right: 61px;
}

.publication__firstCol,
.publication__secondCol {
    padding-top: 85px;
    padding-bottom: 80px;  /* не понимаю почему не работает отступ снизу */
}

/* checkbox */
.checkbox__box h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 14px;
    
}
.checkbox__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    user-select: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before{
    background-position: center center;
    background-image: url('../images/checkbox.svg');
    border-color: var(--hoverone-color);
}
.custom-checkbox:checked+label{
    color: var(--hoverone-color);
}
label {
    font-weight: 400;
    font-size: 16px;
}
.publication__price p {
    margin-bottom: 15px;
}


/* /////// */

.publication__secondCol {
    max-width: 1150px;
    margin-left: 50px;
    padding-top: 93px;
}

.slide-content {
    display: flex;
    justify-content: space-between;
}


.content__item-description {
    margin-bottom: 16px;
    position: relative;
}
.content__item-description span {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}
.content-item img {
    margin-bottom: 20px;
}
.content-item-btn {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.publication__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 340px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    
}
.input-1,
.input-2 {
    height: 38px;
    width: 80px;
    background-color: rgba(157, 92, 208, .5);
}
.input-1::placeholder,
.input-2::placeholder {
    color: #FFFFFF;
}



/* PROJECT */

.project {
    color: #000000;
    padding-top: 85px;
    padding-bottom: 90px;
    position: relative;
}
.project__heading {
    font-size: 48px;
    margin-bottom: 23px;
}
.project__description {
    font-size: 16px;
    line-height: 32px;
    width: 65%;
    margin-bottom: 22px;
}

.project__link {
    color: var(--main-color);
}

.project__partner-title {
    font-size: 24px;
    font-weight: 600;
}
.project__text {
    display: inline;
}
.tooltip {
    display: inline-block;
    position: relative;
}
.marker {
    width: 16px;
    height: 16px;
    background-image: url(../images/tooltip-icon.svg);
    background-position: center center;
    cursor: pointer;
}
.popup {
    position: absolute;
    bottom: 100%;
    left: -150px;
    width: 300px;
    margin-bottom: 10px;
    background: #CACACA;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.marker:hover + .popup {
    opacity: 1;
}



.project__swiper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}


.project__item {
    display: block;
    position: relative;
    width: 450px;
    height: 150px;
    border: 1px solid #cacaca;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.swiper-container#project-swiper {
width: 1450px;
height:150px;
align-items: center;
}

.projects1 {
    background-image: url(../images/project-1.png);
}
.projects1:hover {
    background-image: url(../images/project-2-color.png);
}

.projects2 {
    background-image: url(../images/project-2.png);
}
.projects2:hover {
    background-image: url(../images/project-3-color.png);
}

.projects3 {
    background-image: url(../images/project-3.png);
}
.projects3:hover {
    background-image: url(../images/project-1-color.png);
}
  
.projects4 {
    background-image: url(../images/project-4.png);
}
.projects4:hover {
    background-image: url(../images/project-4-color.png);
}

.projects5 {
    background-image: url(../images/project-5.png);
}
.projects5:hover {
    background-image: url(../images/project-7-color.png);
}

.projects6 {
    background-image: url(../images/project-6.png);
}
.projects6:hover {
    background-image: url(../images/project-5-color.png);
}

.projects7 {
    background-image: url(../images/project-7.png);
}
.projects7:hover {
    background-image: url(../images/project-8-color.png);
}

.projects8 {
    background-image: url(../images/project-8.png);
}
.projects8:hover {
    background-image: url(../images/project-6-color.png);
}

.projects9 {
    background-image: url(../images/project-9.png);
}
.projects9:hover {
    background-image: url(../images/project-9-color.png);
}
  
  
  
.button3-prev {
    background-image: url(../images/project-back.png);
    transform: rotate(0);
}

.button3-next {
    background-image: url(../images/project-next.png);
}
  
  

.contacts__container {
    border: 1px solid gray;
}

.contacts__header {
    padding-left: 31px;
    font-size: 48px;
    color: #000000;
    margin-bottom: 20px;
}
.contacts__content {
    display: flex;
    position: relative;
}


.forma {
    margin-top: 36px;
}
.form-text {
    color: black;
    margin-top: 123px;
}
.form-name {
    font-weight: 600;
    font-size: 24px;
}

.form-adress {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
}
.form-header {
    margin-top: 36px;
    color: black;
    font-size: 24px;
    margin-top: 55px;
}
.contacts__form {
    padding-left: 23px;
    width: 34%;
}

.contacts__form form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contacts__btn {
    color: var(--active-color);
    border: 2px solid var(--active-color);
    width: 157px;
    height: 59px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
}

.contacts__input {
    font-size: 16px;
    height: 40px;
    width: 400px;
    padding-left: 24px;
    margin-bottom: 22px;
    border: 1px solid grey;
    border-radius: 100px;
}

.contact__social-header {
    color: black;
    margin-top: 38px;
    font-size: 24px;
}
.contact__social-header h2 {
    font-weight: 400;
    font-size: 24px;
}

.contact__social-icon {
    margin-top: 18px;
    margin-bottom: 124px;
}

.contact__social-icon img {
    margin-right: 20px;
    width: 40px;
    height: 40px;

}



[class*="ground-pane"] {
    filter: grayscale(1);
}
.map {
    width: 1200px;
    height: 600px;
}
.contacts__map {
    position: relative;
    z-index: 1;
    margin-right: -300px;
}




/* footer */

.footer {
    background-color: #000000;
}

.footer___container {
    display: flex;
    padding: 50px 0 50px 13px ;
    justify-content: space-between;
}

.footer__social img {
    height: 45px;
    width: 45px;
    margin-left: 20px;
}