
/* open-sans-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
}
  /* open-sans-regular - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
}
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}
  /* open-sans-800 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v18-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
}

* {
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans';
    font-size: 18px;
    color: white;
    font-weight: 400;
    
}
img {
    max-width: 100%;
}


h1,
h2,
h3,
p,
a {
    margin: 0 0 0 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    height: 70px;
    width: 315px;
    background-color: transparent;
    border: 1px solid #9D5CD0;
    border-radius: 100px;
    color: #FFFFFF;
}

/* header style */
.header__container {
    height: 100px;
    display: flex;
    align-items: center;
}

.header {
    background-color: #000000;
    color: white;
}

.header__nav {
    width: 895px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}


.header__enter {
    margin-left: auto;
}

/* hero style */

.hero {
    height: 800px;
    max-width: 100%;
    background: url(/images/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg) center/cover no-repeat;
}


.hero__menu {
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
}
.menu__link {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.menu__item {
    display: flex;
    align-items: center;
}
.menu__item:not(:last-child) {
    margin-right: 100px;
}
.menu__rectangle {
    width: 7px;
    height: 7px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transform: rotate(45deg);
}
.hero__search {
    margin-left: auto;
    display: flex;
    align-items: center;

}
.hero__input {
    width: 200px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
.hero__input::placeholder {
    color: #FFFFFF;
    font-size: 18px;
}
.hero__header {
    width: 35%;
    font-weight: 800;
    margin-top: 90px;
    font-size: 72px;
}
.hero__description {
margin-top: 25px;
width: 35%;
line-height: 30px;
}
.hero__btn {
    margin-top: 100px;
    background-color: #9D5CD0;
}

/* US */

.us {
    color: black;
}
.us__header {
    margin-top: 100px;
    font-size: 48px;
}
.us__description {
    margin-top: 45px;
    font-size: 16px;
    line-height: 32px;
    width: 67.7%;
}


/* GALERY */

.galery {
    margin-top: 80px;
    background: url('/images/birmingham-museums-trust-MK_98NuC4-4-unsplash3.png') center/cover no-repeat;
    width: 100%;
    height: 995px;
    padding-top: 100px;
}
.galery__container {
    display: flex;
}
.galery__header {
    width: 26%;
}
.galery__header h3 {
    margin-top: 40px;
}
.galery__head {
    font-size: 48px;
}
.galery__slider {
    margin-left: 50px;
}
.galery__info {
    margin-top: 485px;
}
.galery__select {
    margin-top: 20px;
    color: #FFFFFF;
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}
.galery__rowItem {
    display: flex;
    justify-content: space-between;
}
.galery__rowItem:not(:last-child) {
    margin-bottom: 50px;
}
.galery__item:not(:nth-child(3n+3)) {
    margin-right: 50px;
}


.swiper-btns{
    display: flex;
    flex-flow: row wrap;
    width: 130px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next{
    position: static;
    top: 0%;
    left: 30px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background-color: #666666;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

.swiper-button-prev{
    background: url('/images/prev.svg') center no-repeat;
}

.swiper-button-next{
    background: url('/images/next.svg') center no-repeat;
}


.swiper-pagination{
    top: 15px;
    left: 50px;
    text-align: left;
    color: white;
}


/* CATALOG */

.catalog {
    margin-top: 100px;
    color: black;
}
.heading__block {
    display: flex;
}
.heading {
    font-size: 48px;
}
.heading__country {
    margin-left: 45px;
    display: flex;
    
}
.heading__country img:not(:last-child) {
    margin-right: 50px;
}

.catalog__description {
    width: 69%;
    margin-top: 40px;
    font-size: 16px;
    line-height: 32px;
}
.catalog__accordionBlock {
    display: flex;
    margin-top: 50px;
}
.catalog__itemSelect {
max-width: 750px;
margin-right: 50px;
}
.catalog__itemName {
    font-size: 24px;
    margin-top: 40px;
}
.catalog__itemDescription {
    margin-top: 15px;
    line-height: 32px;
}
.catalog__itemDescription span {
    color: #999999;
}

.catalog__accordion {
    min-width: 800px;
}
.accordion__item {
    width: 100%;
    height: 60px;
    display: flex !important;
    align-items: center !important;
    background-color: white !important;
    color: black !important;
}
.accordion__item a {
    color: black !important;
}

.accordion__img {
    margin-left: auto;
}
.accordion__description {
    line-height: 32px;
    font-size: 16px;
}
.accordion__description-block {
    display: flex;
    margin-right: 100px;
}
.accordion__description-block p:not(:last-child) {
    margin-right: 50px;
}
.item_linkName {
    font-size: 24px;
}

/* EVENT */

.event {
    margin-top: 100px;
    color: black;
}
.event__heading {
    font-size: 48px;
}
.event__itemRow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.event__item {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    border: 1px solid #CACACA;
}

.event__item span {
    margin-top: 15px;
    margin-left: auto;
    font-size: 12px;
    text-align: right;
    color: #999999;
    padding-right: 20px;
    width: 200px;
}
.event__itemWrap {
    display: flex;
    flex-direction: column;
    padding: 0 42px 50px 50px;
}
.event__itemWrap h3 {
    font-weight: 600;
    font-size: 24px;
}
.event__itemWrap p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 32px;
}
.event__itemWrap a {
    color: black;
    margin-top: auto;
}
.event__btnBlock {
    display: flex;
    justify-content: center;
}
.event__btn {
    width: 190px;
    height: 60px;
    font-size: 18px;
    color: #9D5CD0;
    margin: 50px auto 0 auto;
}


/* PUBLICATION */

.publication {
    margin-top: 80px;
    width: 100%;
    height: 766px;
    background: url('/images/birmingham-museums-trust-MK_98NuC4-4-unsplash4.png') center/cover no-repeat;
}
.publication__container {
    display: flex;
}
.publication__heading {
    margin-top: 100px;
    font-size: 48px;
} 
.publication__firstCol {
    width: 26%;
}

/* checkbox */

.checkbox__box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.label1,
.label2,
.label3,
.label4,
.label5,
.label6,
.label7,
.label8,
.label9,
.label10,
.label11,
.label12 {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-left: 25px;
    margin-top: 20px;
    cursor: pointer;
}
#check1,
#check2,
#check3,
#check4,
#check5,
#check6,
#check7,
#check8,
#check9,
#check10,
#check11,
#check12 {
    display: none;
}
.checbox-span {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #FFFFFF;
    transition: opacity, border .3s ease-in-out;
}

.checbox-span::before {
    content: '\25CF';
    font-size: 15px;
    color: #9D5CD0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 13px;
    height: 13px;
    top: -1px;
    left: -1px;
    opacity: 0;
    border: 1px solid #9D5CD0;
    
}
#check1:checked + .checbox-span::before,
#check2:checked + .checbox-span::before,
#check3:checked + .checbox-span::before,
#check4:checked + .checbox-span::before,
#check5:checked + .checbox-span::before,
#check6:checked + .checbox-span::before,
#check7:checked + .checbox-span::before,
#check8:checked + .checbox-span::before,
#check9:checked + .checbox-span::before,
#check10:checked + .checbox-span::before,
#check11:checked + .checbox-span::before,
#check12:checked + .checbox-span::before {
    opacity: 1;
}
/* /////// */

.slide-content {
    display: flex;
    /* justify-content: space-between; */
}
/* .swiper-slide {
    width: 100% !important;
} */
.content__itemDescription {
    display: flex;
    justify-content: space-between;
}